<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ark Design Studio</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/flexboxgrid.css">
  </head>
  <body id="page-top" class="index">
    <%- markup -%>
    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/bundle.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/smoothscroll.js"></script>
  </body>
</html>
